/* Header */

.header {
	background: $off-white;
	padding   : 1rem 0;
}

.header__link {
	color: $dark-blue;
}

.header__logo {
	max-width: 100px;
}

.header__wrapper {
	display        : flex;
	justify-content: space-between;
	align-items    : center;
}