/* Cards */
.main-card {
	max-width         : 500px;
	width             : 100%;
	margin            : 2rem auto;
	border            : 1px solid #ccc;
	-webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.36);
	-moz-box-shadow   : 2px 2px 7px 0px rgba(0, 0, 0, 0.36);
	box-shadow        : 2px 2px 7px 0px rgba(0, 0, 0, 0.36);
	background        : #fcfcfc;
}

.main-card__header {
	background     : #16405B;
	padding        : 1rem;
	color          : #E8E8E8;
	display        : flex;
	align-items    : flex-end;
	justify-content: space-between;
}

.main-card__body {
	padding: 1rem;
}

.main-card__description {
	display        : flex;
	justify-content: space-between;
	align-items    : center;
}

.main-card__img-container {
	width: 30%;
}

.main-card__temp {
	color: $brownish;
}

.main-card__temp--title {
	font-size  : $font-size-lg;
	font-weight: 700;
	opacity    : 0.9;
}

.main-card__temp--subtitle {
	font-size  : $font-size-md;
	font-weight: 300;
	text-align : center;
}