.saved-container {
	padding: 2rem 0;
}

.saved-card {
	width : 30%;
	margin: 2rem;
}

.saved-card .body,
.saved-card header {
	padding: 1rem;
}

.saved-card header {
	background: #16405B;
	color     : #E8E8E8;
}

.saved-wrapper {
	padding: 2rem 0;
}