.saved-wrapper {
	display  : flex;
	flex-wrap: wrap;
}

.saved-card {
	width        : 20%;
	margin       : 2rem;
	position     : relative;
	border-radius: 10px;
	background   : #fff;
	transition   : all ease-in .3s;

	.close {
		position: absolute;
		right   : 1rem;
		top     : 1rem;

		&:hover {
			cursor: pointer;
		}
	}

	&:hover {
		background-color: lighten($main-color, $amount: 70%);
	}
}

.saved-card__body {
	text-align: center;
	padding   : 2rem;
}

.saved-card__temp {
	background-color: $brownish;
	color           : #fff;
	font-size       : $font-size-sm;
	width           : 100px;
	height          : 100px;
	margin          : auto;
	border-radius   : 50%;
	display         : flex;
	justify-content : center;
	align-items     : center;
}

.saved-card__details {
	margin-top: 1rem;
}