.saved-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	@media (min-width: 700px) {
		flex-direction: row;
	}
}

.saved-card {
	width: 100%;
	margin: 2rem auto;
	position: relative;
	border-radius: 10px;
	background: #fff;
	transition: all ease-in 0.3s;

	.close {
		position: absolute;
		right: 1rem;
		top: 1rem;

		&:hover {
			cursor: pointer;
		}
	}

	&:hover {
		background-color: lighten($main-color, $amount: 70%);
	}

	@media (min-width: 700px) {
		width: 30%;
	}
}

.saved-card__body {
	text-align: center;
	padding: 2rem;
}

.saved-card__temp {
	background-color: $brownish;
	color: #fff;
	font-size: $font-size-sm;
	width: 100px;
	height: 100px;
	margin: auto;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.saved-card__details {
	margin-top: 1rem;
}
