.search-form {

	label {
		display: none;
		font-size: 1.6rem;
		margin-bottom: 0.3rem;

		@media (min-width: 700px) {
			display: block;
		}
	}

	input {
		padding: 5px 10px;
		font-size: 1.8rem;
		border: 1px solid #ccc;
		border-radius: 5px;
	}
}

.help-icon {
	color: #585858;
	margin-right: 10px;
	font-size: 2rem;
	float: left;
	padding-top: 5px;
	position: relative;

	&:hover {
		cursor: pointer;
	}
	
	@media (min-width: 700px) {
		padding-top: 25px;
	}
}

.help-message {
	background-color: #fff;
	padding: 5px;
	border-radius: 4px;
	font-size: 1.4rem;
	position: absolute;
	width: 300px;
	top: 120%;
	left: -10px;
	display: none;
	// width: 100%;
	// max-width: 300px;

	&.show {
		display: block;
	}

	&:after {
		content: "";
		position: absolute;
		bottom: 100%;
		left: 7%;
		margin-left: -8px;
		border-width: 8px;
		border-style: solid;
		border-color: transparent transparent white transparent;
	}
}

.error-message {
	color: firebrick;
    font-size: 1.4rem;
}