/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 0 2rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.title-md {
  font-size: 2.5rem;
}

.title-sm {
  font-size: 2rem;
}

/* Header */

header {
  background: #E8E8E8;
  padding: 1rem 0;
}

header a {
  color: #16405B;
}

.logo {
  max-width: 100px;
}

header .flex-container {
  align-items: center;
}

.header-wrapper {
  justify-content: space-between;
}

nav .flex-container {
  justify-content: space-evenly;
}

nav {
  width: 50%;
}

button:hover {
  cursor: pointer;
}

/* Time block */

.time-block {
  padding: 2rem 0;
}

/* Cards */

.card {
  border: 1px solid #ccc;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.36);
  background: #fcfcfc;
}

.card .header {
  background: #16405B;
  padding: 1rem;
  color: #E8E8E8;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card .body {
  padding: 1rem;
}

.main-card-container {
  padding: 2rem 0;
}

.main-card-container .card {
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.temp .img-container {
  width: 30%;
}

.saved-container {
  padding: 2rem 0;
}

.saved-card {
  width: 30%;
  margin: 2rem;
}

.saved-card .body, .saved-card header {
  padding: 1rem;
}

.saved-card header {
  background: #16405B;
  color: #E8E8E8;
}

.saved-wrapper {
  padding: 2rem 0;
}

button.save {
  border: 2px solid #E8E8E8;
  background: #E8E8E8;
  border-radius: 5px;
  padding: 5px 10px;
}

.search-form input {
  padding: 5px 10px;
  font-size: 1.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 1rem;
}