// Font Sizes
$font-size-lg: 3.5rem;
$font-size-md: 2.5rem;
$font-size-sm: 2rem;

// Colors
$off-white   : #E8E8E8;
$main-color  : #4C3B4D;
$brownish    : #61C9A8;
$light-purple: #ADA8B6;
$off-peach   : #FFEEDB;